:root {

    --bg: #0a0a0a;
    --accent: #373737;
    --text: #ffffff;
    --secondary-text: #969696;
    --border: #191919;
    --spacing: 15px;

    --ibmmono: "IBM Plex Mono", monospace;
    --ibmsans: "IBM Plex Sans", sans-serif;

}

* {

    margin: 0;
    padding: 0;

}

body {

    background: var(--bg);
    color: var(--text);
    margin-left: 5px;
    margin-right: 5px;
    font-family: var(--ibmmono);
    font-weight: 400;
    font-size: 0.95rem;

}

body::before,
body::after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    width: 1px;
    background: var(--border);
    pointer-events: none;
    z-index: 9999;
}

body::before {

    left: 5px;

}

body::after {

    right: 5px;

}

.texture {

    background-image: repeating-linear-gradient(
        -45deg,
        transparent 0px,
        transparent 6px,
        var(--border) 6px,
        var(--border) 7px
    );

}

header {

    position: fixed;
    background: var(--bg);
    height: 48px;
    width: calc(100% - 40px);
    margin-left: -5px;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;

}

.logo-header {

    height: 35px;

}

.top-section {

    padding-top: 48px;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border);
    background-image: radial-gradient(
        var(--border) 1px,
        transparent 1px
    );

    background-size: 8px 8px;
    
}

.profile-section {

    width: 100%;
    height: 140px;
    border-bottom: 1px solid var(--border);
    display: flex;
    
}

.profile {

    height: auto;
    width: 140px;
    border-right: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.profilepic {

    width: calc(100% - 6px);
    border-radius: 100%;
    outline: 1px solid var(--border);
    outline-offset: 2px;

}

.flag {

    position: absolute;

    width: 45px;

    left: 0;
    top: 0;

    object-fit: cover;

}

.profile-right {

    width: calc(100% - 130px);
    display: flex;
    flex-direction: column;
}

.space {

    width: 100%;
    height: 10px;
    border-bottom: 1px solid var(--border);

}

.name-container {

    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border);

}

.name {

    font-family: var(--ibmsans);
    font-weight: 600;
    font-size: 2rem;
    padding-left: var(--spacing);
}

.bio-container {

    height: 60px;
    display: flex;
    align-items: center;
    
}

.bio {

    color: var(--secondary-text);
    padding-left: var(--spacing);
    white-space: nowrap;
    opacity: 0.8;
}

.spacebig {

    width: 100%;
    height: 30px;
    border-bottom: 1px solid var(--border);

}
